name: On push

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  checks: write
  pages: write
  id-token: write
  deployments: write

jobs:
  test:
    uses: ./.github/workflows/call-test.yml
    secrets: inherit
    with:
      docker_image: "ghcr.io/tenstorrent/tt-xla/tt-xla-base-ubuntu-22-04:latest"
      use-shared-runners: true
      test_suite: basic-test.json

  deploy-docs:
    uses: ./.github/workflows/call-build-docs.yml
    secrets: inherit
